body {
  margin: auto;
  text-align: center;
  background-color: #222;
  color: #ddd;
}

label, button, #timer {
  font-size: 3em;
}

.hidden {
  display: none;
}

#timer {
  font-family: monospace;
}